.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.site-logo {
    margin: 0;
    padding: 32px 0 0 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #555252;
    display: inline-block;
}

.site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding: 0;
    height: 90px;
    /* background-color: teal; */
}


.site-navigation-list {
    margin: 0;
    padding: 40px 0 0 0;
    width: 466px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    float: right;

}

.site-navigation-item {
    float: left;
    margin-right: 30px;

}

.site-navigation-item:nth-last-of-type(1) {
    margin-right: 0;
}

.site-navigation-item a {
    text-decoration: none;
    color: #0f0101;

}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
    color: #1abc9c;
}

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    /* background-image: url("../img/slider-img.jpg"); */
    margin: auto;
    font-size: 0;
}

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slides-item {
    position: relative;
    height: 600px;
}

.slides-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slides-text-header {
    position: absolute;
    top: 30.33%;
    /* top: 206px; */
    left: 26.88%;
    /* left: 430px; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
    color: #ffffff;

}

.slides-text-descr {
    position: absolute;
    top: 47.5%;
    /* top: 285px; */
    left: 26.88%;
    /* left: 430px; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
    color: #ffffff;
    z-index: 2;
}

.slider-ctrl {
    border: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 104px;
    height: 104px;
    background-color: rgb(26, 188, 156);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.slider-ctrl-prev {
    left: 246px;
    background-image: url("../img/arrow-prev.png");

}

.slider-ctrl-next {
    right: 246px;
    background-image: url("../img/arrow-next.png");

}

.collection {
    background-color: rgb(233, 240, 253);
    width: 100%;
    margin: auto;

}

.section-title {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 100px;
    text-align: center;
    color: #515151;

}

.section-title::after {
    content: "";
    display: block;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 8px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 80px;

}

.collection-list {
    list-style: none;
    background-color: rgb(233, 240, 253);
    margin: auto;
    padding: 0;
    padding-bottom: 100px;
}

.collection-list-item {
    position: relative;
    display: block;
    width: 254px;
    height: 322px;
    background-color: #fff;
    margin-right: 30px;
    font-size: 0;
}

.collection-list-item:nth-last-of-type(1) {
    margin-right: 0;
}

.overlay {
    position: absolute;
    box-sizing: border-box;
    width: 256px;
    height: 282px;
    border-width: 10px;
    border-color: rgba(255, 255, 255, 0.549);
    background-clip: padding-box;
    border-style: solid;
    background-color: rgba(0, 0,0, 0.549);
    opacity: 0;
   
}

.overlay-icons {
    list-style: none;
    margin: 0;
    padding: 80px 0 8px 35px;
    font-size: 0;
}

.overlay-icons-item {
    display: inline-block;
}

.icon-button {
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.overlay-icons-item button:hover {
    background-color: rgba(26, 188, 156, 1);
    border-color: rgba(26, 188, 156, 1);

}

.heart-buttons {
    background-image: url("../img/icons/heart.png");
    background-repeat: no-repeat;
    background-position: center;
}

.arrows-buttons {
    background-image: url("../img/icons/arrows.png");
    background-repeat: no-repeat;
    background-position: center;
}

.clock-buttons {
    background-image: url("../img/icons/clock.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

.overlay .cart {
    display: block;
    width: 166px;
    height: 48px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 48px;
    color: #fff;
    position: relative;
    padding: 0 0 0 25px;
    
}

.cart::before {
    content: url("../img/icons/cart.png");
    display: inline-block;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 6px;
    left: 12px;
}

.item-name,
.item-price {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    vertical-align: middle;
    color: #ffffff;
    line-height: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.item-name {
    position: absolute;
    width: 200px;
    background-color: #323232;
    left: 0;

}

.item-name p {
    margin: 0;
    padding: 0 0 0 14px;
}

.item-price {
    position: absolute;
    right: 0;
    width: 56px;
    background-color: #8c8c8c;
}

.item-price p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.collection-list-item:hover .overlay {
    opacity: 1;
}

.collection-list-item:hover .item-name {
    background-color: #1abc9c;
}

.collection-list-item:hover .item-price {
    background-color: #7fd9c7;
}

.collection-list-item {
    float: left;
}

footer {
    background-color: #323232;
    height: 90px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.disclaimer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 90px;
    color: #fefefe;
}

footer a {
    color: #46bfa9;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 28px;
}